[submodule "Common"]
	path = Common
	url = https://github.com/labnation/Common
[submodule "DeviceInterface"]
	path = DeviceInterface
	url = https://github.com/labnation/DeviceInterface
[submodule "LibUsbDotNet"]
	path = LibUsbDotNet
	url = https://github.com/labnation/LibUsbDotNet
[submodule "MatlabFileDotNet"]
	path = MatlabFileDotNet
	url = https://github.com/labnation/MatlabFileDotNet
